.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.calculator-label {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100px;
  gap: 10px;
}

.calculator-text {
  font-size: 110px;
  color: var(--purple-500);
  letter-spacing: 0.1em;
}

.calculator-header {
  color: var(--black);
}

.calculator-text,
.calculator-header {
  font-family: 'Poppins Extra Bold Italic';
}

@media screen and (max-width: 768px) {
  .calculator-text {
    font-size: 60px;
  }

  .calculator-header {
    font-size: 50px;
  }
}