*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  background: var(--grey-200);
  color: var(--grey-500);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

:root {
  /* Primary */
  --purple-500: hsl(259, 100%, 60%);
  --red-400: hsl(0, 100%, 67%);

  /* Neutral */
  --white: hsl(0, 100%, 100%);
  --grey-100: hsl(0, 0%, 94%);
  --grey-200: hsl(0, 0%, 86%);
  --grey-500: hsl(0, 1%, 44%);
  --black: hsl(0, 0%, 0%);
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}


@font-face {
  font-family: 'Poppins Regular';
  src: url('/public//assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins Italic';
  src: url('/public//assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('/public//assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins Extra Bold';
  src: url('/public//assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins Bold Italic';
  src: url('/public//assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins Extra Bold Italic';
  src: url('/public//assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
